<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveServiceAccountUUID</key>
	<string></string>
	<key>IsFirstRun</key>
	<true/>
	<key>MapType</key>
	<integer>0</integer>
	<key>MapZoomsToUserLocation</key>
	<false/>
</dict>
</plist>
